:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

router-outlet {
  display: none;
}

router-outlet + * {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-height: 0;
}
